// Common
$primary: #FCFDFE;
$secondary: #8A9195;
$orange: #F7931A;
$green: #00E283;
$cyan: #52D8C6;
$red: #F43C3C;
$border: #2A2C2E;

$success: #03CB0B;
$warning: #DCBD27;
$error: #F00A0A;

$bgPage: #202020;
$bgMain: #303135; 
$bgOrange: #F7931A;
$bgGreen: #00A660;
$bgRed: #FF1D1D;