// https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

$primaryFont: 'Inter', sans-serif;
$secondaryFont: 'Mulish';
$regularWeight: 400;
$mediumWeight: 500;
$semiBoldWeight: 600;
$boldWeight: 700;

.font-primary {
  font-family: 'Inter', sans-serif;
}
.font-american-captain {
  font-family: 'America Captian';
}
.font-utm-times {
  font-family: 'utm-times';
}
